<nav class="navbar">
  <div class="navbar-container container">
    <div class="navbar-elements">
      <p href="#" class="navbar-logo">ATTIMINO</p>
    </div>
    <div class="navbar-elements">
      <ul>
        <li>
          <a href="">Au programme</a>
        </li>
        <li>
          <a href="">A propos</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
        <li>
          <a href="">Voir plus...</a>
        </li>
      </ul>
      <button class="button-secondary-yellow" (click)="toggleModal()" >
        <fa-icon [icon]="faSearch" [size]="'1x'"></fa-icon>
      </button>
      <button class="button-primary-black-v2">
        <p>Se connecter</p>
      </button>
    </div>
  </div>
</nav>

<!-- ICI COMMENCE LA SEARCH MODALE -->

<div class="overlay" *ngIf="showModal" >
  <div class="search-container" (clickOutside)="closeModal()"
appClickOutsideModal >

    <app-search-bar></app-search-bar>
  </div>
</div>