<section class="hero-section">
    <div class="hero-container container">
        <div class="hero-overlay">
            <h1>DÉCOUVRIR L'ITALIE <br> AUTREMENT</h1>
            <div class="hero-CTA">
                <div class="gm-reserve">
                    <p class="texte-blanc">Plongez dans une expérience inoubliable. Emotion, rire et passions garenties sous les projecteurs des plus belles scènes d’Italie.</p>

                    <button class="button-secondary-yellow">

                        <p>Réserver une place</p>
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
                <div class="gm-video">
                    <video width="320" height="160" controls muted>
                        <source src="assets/Attimino-video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-homepage container">
    <div class="layout-1">
        <div class="layout-1_div1">
        </div>

        <div class="layout-1_div2">
                <h1 class="layout_titre-1">À LA DECOUVERTE DE L’ITALIE</h1>
                <p class="layout-1_texte" >Explorez l’Italie sous un autre aspect. Culture, histoire, lieux emplématique spécialitées culinaires... Nos recommandations avant et après votre spectacle pour sublimer l’expérience au pâys de l’opéra.</p>
                <button class="button-primary-black-v3">Explorer maintenant</button>
        </div>

        <div class="layout-1_div3">
            <div class="layout-1_content">
                <h1 class="layout_titre-2" >THEATRE</h1>
                <p class="layout-1_texte" >Découvrez les théatres d’italie et vivez les expériences extraordinaires qu’elle proposent</p>
                <button class="button-primary-black-v3">Explorer maintenant</button>
            </div>
        </div>

        <div class="layout-1_div4">
            <div class="layout_overlay">
                <div class="layout-1_content">
                    <h1 class="layout_titre-2" >SPECTACLES</h1>
                    <p class="layout-1_texte" >Réservez vos places pour les spectacles incontournables ainsi que les évenements à ne pas manquer.</p>
                    <p class="layout-1_texte" >Notre sélection des chef d’oeuvres intemporels et des options de filtre pour trouver le spéctacle qui vous corresponds le mieux.</p>
                    <button class="button-primary-white-v2">Explorer maintenant</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-homepage light-yellow-bg">
    <div class="layout-2 container">
        <div class="layout-2_div1">
            <p>Des chiffres qui comptent</p>
        </div>
        <div class="layout-2_div2">
            <h1 class="layout_titre-3" >+100 Villes</h1>
            <p>Les villes emblémthiques et originales à découvir</p>
        </div>
        <div class="layout-2_div3">
            <h1 class="layout_titre-3" >+500 Théâtres</h1>
            <p>Une selection parmis les théâtres les plus mythiques</p>
        </div>
        <div class="layout-2_div4">
            <h1 class="layout_titre-3" >+2000 spectacles</h1>
            <p>Une diversité de spectacles en tout genre et des recommandations qui vous correspondent</p>
        </div>
        <div class="layout-2_div5">
            <h1 class="layout_titre-3" >1er site de réservation</h1>
            <p>Le site de prédilection pour vos réservation de places de spectacles en Italie</p>
        </div>
    </div>
</section>

<!-- Version du layout-2 avec flexbox -->

<!-- <section class="content-homepage container">
    <div class="xlayout-2">
        <p>Des chiffres qui comptent</p>
        <div class="content-xlayout-2">
            <div class="xlayout-2_div2">
                <h1 class="layout_titre-3" >+100 Villes</h1>
                <p>Les villes emblémthiques et originales à découvir</p>
            </div>
            <div class="xlayout-2_div3">
                <h1 class="layout_titre-3" >+500 Théâtres</h1>
                <p>Une selection parmis les théâtres les plus mythiques</p>
            </div>
            <div class="xlayout-2_div4">
                <h1 class="layout_titre-3" >+2000 spectacles</h1>
                <p>Une diversité de spectacles en tout genre et des recommandations qui vous correspondent</p>
            </div>
            <div class="xlayout-2_div5">
                <h1 class="layout_titre-3" >1er site de réservation</h1>
                <p>Le site de prédilection pour vos réservation de places de spectacles en Italie</p>
            </div>
        </div> 
    </div>
</section> -->


<section class="content-homepage container">
    <div class="layout-3">
        <div class="layout-3_div1">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div2">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div3">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div4">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div5">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div6">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div7">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-3_div8">
            <div class="layout-3_content layout_overlay">
                <div class="layout-3_col">
                    <div class="layout-3_date">
                        <p> 19 November 2024 - 20:00</p>
                    </div>
                    <div class="layout-3_event">
                        <p>Great Pianists at La Scala</p>
                    </div>
                </div>

                <div class="layout-3_row">
                    <div class="layout-3_hote">
                        <p>Alexandre Kantorow</p>
                    </div>
                    <button class="button-secondary-yellow">
                        <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="content-homepage container">
    <div class="layout-4">
        <div class="layout-4_img">

        <img src="assets/img-colise-attimino.png" alt="">
        </div>
        <div class="layout-4_texte">
            <div class="layout-4_content">
                <div class="layout_petit-titre">
                    <p>Nos partenaires</p>
                </div>
                <div class="layout_titre-3">
                    <p>Nous sommes fiers de travailler avec un réseau mondial de promoteurs, théâtres, de salles de spectacles et d'artistes.</p>
                </div>
                    <p>Un partenariat avec Attimino vous permet de trouver plus facilement vos fans, de vendre des billets en ligne et de développer votre activité.</p>
                <button class="button-primary-black-v3">
                    <p>Devenir partenaire</p>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Section full black -->

<section class="content-homepage black-bg layout-5_extend-bg">
    <div class="layout-5 container">
        <div class="layout-5_texte">
            <div class="layout-5_content">
                <div class="layout_petit-titre">
                    <p>Qui sommes nous ?</p>
                </div>
                <div class="layout_titre-3">
                    <p>La platefrome privilégiée pour les réservations de place de théatre en Italie.</p>
                </div>
                    <p>Pour célébrer ces lieux de vie, nous avons pensé élaborer un guide de découverte des théatres italiens et des mailleurs représentations du moment.</p>
                <button class="button-primary-black-v3">
                    <p>En savoir plus</p>
                </button>
            </div>
        </div>
        <div class="layout-5_img">

            <img src="assets/img-asian-attimino.webp" alt="">
        </div>
    </div>
    <div class="layout-5_CTA container">
        <img src="assets/icone-attimino.png" alt="">

        <div class="gm-reserve">
            <p class="texte-blanc">Découvrez de nombreux artistes en avant première sur Theatrum. Le spectacles Cocodici Dio Brandon une exclusivité Attimino.</p>

            <button class="button-secondary-yellow">

                <p>Réserver une place</p>
                <fa-icon [icon]="faArrowRight" [size]="'1x'"></fa-icon>
            </button>
        </div>
    </div>
</section>


<!-- Section Articles de blog -->

<section class="content-homepage container">
    <div class="layout-6">
        <div class="layout-6_articles">
            <div class="layout-6_article-card">
                <img src="assets/img-article-1-attimino.webp" alt="">
                <div class="layout-6_article-card-content">
                    <h1 class="layout-6_title">La plateforme indépendante privilégiée du théâtre en Italie</h1>
                    <p class="layout-6_texte">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore beatae illum facere a eos, dolores tenetur suscipit dicta repellat molestiae! Vous pourrez trouver sur notre blog, des articles, spectables et actualité du monde du théatre, de la musique de l’opéra et bien d’autres domaines. Des interviews exclusives tout comme des des critiques et consécrations de représentations artistiques.</p>
                    <button class="button-primary-black-v3">
                        <p>EN SAVOIR PLUS</p>
                    </button>
                </div>
            </div>
            <div class="layout-6_article-card">
                <img src="assets/img-article-2-attimino.webp" alt="">
                <div class="layout-6_article-card-content">
                    <h1 class="layout-6_title">Les évènement majeur du monde du musée à Milan</h1>
                    <p class="layout-6_texte">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore beatae illum facere a eos, dolores tenetur suscipit dicta repellat molestiae! Vous pourrez trouver sur notre blog, des articles, spectables et actualité du monde du théatre, de la musique de l’opéra et bien d’autres domaines. Des interviews exclusives tout comme des des critiques et consécrations de représentations artistiques.</p>
                    <button class="button-primary-black-v3">
                        <p>EN SAVOIR PLUS</p>
                    </button>
                </div>
            </div>
            <div class="layout-6_article-card">
                <img src="assets/img-article-3-attimino.webp" alt="">
                <div class="layout-6_article-card-content">
                    <h1 class="layout-6_title">Notre guide d’exploration du monde du Théâtre</h1>
                    <p class="layout-6_texte">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore beatae illum facere a eos, dolores tenetur suscipit dicta repellat molestiae! Vous pourrez trouver sur notre blog, des articles, spectables et actualité du monde du théatre, de la musique de l’opéra et bien d’autres domaines. Des interviews exclusives tout comme des des critiques et consécrations de représentations artistiques.</p>
                    <button class="button-primary-black-v3">
                        <p>EN SAVOIR PLUS</p>
                    </button>
                </div>
            </div>
            <div class="layout-6_article-card">
                <img src="assets/img-article-4-attimino.webp" alt="">
                <div class="layout-6_article-card-content">
                    <h1 class="layout-6_title">La plateforme indépendante privilégiée du théâtre en Italie</h1>
                    <p class="layout-6_texte">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore beatae illum facere a eos, dolores tenetur suscipit dicta repellat molestiae! Vous pourrez trouver sur notre blog, des articles, spectables et actualité du monde du théatre, de la musique de l’opéra et bien d’autres domaines. Des interviews exclusives tout comme des des critiques et consécrations de représentations artistiques.</p>
                    <button class="button-primary-black-v3">
                        <p>EN SAVOIR PLUS</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="layout-6_blog-CTA">
            <div class="layout-6_blog-CTA-content">
                <h1 class="layout-6_title">Apprenez en plus sur Attimino, le monde du théâtre italien et découvrez le travail incroyable de nos formidables partenaires.</h1>
                <p class="layout-6_texte">Vous pourrez trouver sur notre blog, des articles, spectables et actualité du monde du théatre, de la musique de l’opéra et bien d’autres domaines. Des interviews exclusives tout comme des des critiques et consécrations de représentations artistiques.</p>
            </div>
            <button class="button-primary-black-v2">
                <p>Accédez à notre blog</p>
            </button>
        </div>
    </div>
</section>
