<div class="footer-container">
  <div class="footer-content container">
    <div class="footer-content-top">
      <ul class="footer-links">
        <li><p href="#" class="footer-logo">ATTIMINO</p></li>
      </ul>
      <ul class="footer-links">
        <li><p>Réserver un billet</p></li>
        <li><a href="">Au programme</a></li>
        <li><a href="">Théâtres</a></li>
        <li><a href="">Spectacles</a></li>
        <li><a href="">Nouveautés</a></li>
        <li><a href="">Recommandations</a></li>
      </ul>
      <ul class="footer-links">
        <li><p>Attimino</p></li>
        <li><a href="">A propos</a></li>
        <li><a href="">Qui sommes nous</a></li>
        <li><a href="">Blog</a></li>
      </ul>
      <ul class="footer-links">
        <li><p>Lien utiles</p></li>
        <li><a href="">Aide/FAQ</a></li>
        <li><a href="">Nous contacter</a></li>
      </ul>
      <ul class="footer-links">
        <li><p>Explorer</p></li>
        <li><a href="">Partenaire</a></li>
        <li><a href="">Nous contacter</a></li>
      </ul>
    </div>
    <div class="footer-content-bottom">
      <ul class="footer-links">
        <li><p>Attimino © 2025 - All rights reserved - <button class="button-primary-white-v3" href="">Powered by Qatôrze</button></li>
      </ul>
      <ul class="footer-links">
        <li><a href="">Politique d'achat</a></li>
        <li><a href="">Politique de confidentialité</a></li>
        <li><a href="">Politique de cookies</a></li>
        <details class="dropdown-black">
          <summary>Français </summary>
          <div class="dropdown-content-black">
            <a href=""> 🇮🇹 Italien</a>
            <a href=""> 🇬🇧 Anglais</a>
            <a href=""> 🇩🇪 Allemand</a>
            <a href=""> 🇪🇸 Espagnol</a>
          </div>
        </details>
      </ul>
    </div>
  </div>
</div>
