

<div class="search">
    <div class="search-bar">
        <div class="search-bar-container">
            <fa-icon [icon]="faSearch" [size]="'1x'"></fa-icon>
            <input class="search-input-text" type="text" spellcheck="false" placeholder="Trouver un évènement, une activitée...">
            <button class="close-search" (click)="closeModal()">
                <fa-icon [icon]="faClose" [size]="'xl'"  (click)="closeModal()" ></fa-icon> <!-- Icône de fermeture -->
            </button>
        </div>
    </div>
    <div class="search-results">
        <p class="search-result-type">Résultats de la recherche</p>
        <div class="search-result-content">
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>
            <a class="search-event" href="">
                <img ngSrc="assets/img-colise-attimino.png" width="70" height="70" priority >
                <div class="search-event-description">
                    <p class="search-event-title">Les inrocks Festival : The Voidz</p>
                    <p class="search-event-date">mer. 5 mars 2025</p>
                    <p class="search-event-place">Le Centquatre, Paris</p>
                </div>
            </a>

        </div>
    </div>
</div>